body {
  background-image: url('../images/paper/paper.png');
  padding-top: 2em;
}

.col-wrap {
  width: 92%;
  max-width: 40em;
  margin: 0 auto;
}

.logo {
  text-align: center
}

header {
  padding-top: 2em;
  text-align: center;
}

.tagline {
  color: #444444;
}